@font-face {
	font-family:"national-black";
	src:url(police/national-font/national-black.otf);
}
@font-face {
	font-family:"national-bold";
    src:url(police/national-font/national-bold.otf);
}
@font-face {
	font-family:"national-light";
    src:url(police/national-font/national-light.otf);
}
@font-face {
	font-family:"national-book";
    src:url(police/national-font/national-book.otf);
}
header h1{
    font-family:"national-black";
    font-size:500%;
    margin-top:50px;
    margin-left:330px;
}
.portofolio{
    display:flex; 
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items:stretch;
}
.portofolio img{
    margin-top:100px;
    margin-bottom:100px;
    width:300px;
    height:250px;
}
.name{
    margin-left:530px; 
    margin-bottom:50px; 
}
.mail{
    margin-left:530px;
    margin-bottom:50px; 
}
footer p{
    margin-left:620px; 
}
/*For Mobile*/
@media only screen and (max-width:600px){
    header h1{
        font-size:200%;
        margin-top:25px;
        margin-left:90px;
    }
    .portofolio{
        display:flex; 
        flex-wrap:nowrap;
        flex-direction:column;
        justify-content:center;
        align-items:stretch;
    }
    .portofolio img{
        margin-top:25px;
        margin-bottom:25px;
        margin-left:135px;
        width:125px;
        height:115px;
    }
    .name{
        margin-left:90px; 
        margin-bottom:25px; 
    }
    .mail{
        margin-left:90px;
        margin-bottom:25px; 
    }
    footer p{
        margin-left:180px;
    }
}