@font-face {
	font-family:"isabella-script-monoline";
	src:url(police/isabella-script-monoline.ttf);
}
@font-face {
	font-family:"national-black";
	src:url(police/national-font/national-black.otf);
}
@font-face {
	font-family:"national-bold";
    src:url(police/national-font/national-bold.otf);
}
@font-face {
	font-family:"national-light";
    src:url(police/national-font/national-light.otf);
}
@font-face {
	font-family:"national-book";
    src:url(police/national-font/national-book.otf);
}
header h1{
    font-family:"national-black";
    font-size:600%; 
    margin-left:32px;
    margin-top:42px;
}
header h2{
    margin-top:150px;
    margin-left:30px;
    font-family:"isabella-script-monoline";
    font-size:280%;

}
contain h1{
    margin-top:40px;
    margin-left:250px;
    font-family:"isabella-script-monoline";
    font-size:400%;
    background-color:rgba(255, 255, 255, 0.637);

}
contain h2{
    background-color:rgba(255, 255, 255, 0.637);
    margin-top:131px;
    margin-left:250px;
    margin-right:220px;
    font-family:"national-book";
    font-size:100%;
}
contain .food h1{
    margin-top:40px;
    margin-left:50px;
    font-family:"isabella-script-monoline";
    font-size:400%;
    background-color:rgba(255, 255, 255, 0.637);

}
contain .food h2{
    background-color:rgba(255, 255, 255, 0.637);
    margin-top:131px;
    margin-left:50px;
    margin-right:520px;
    font-family:"national-book";
    font-size:100%;

}
contain .moto{
    margin-top:130px;
    margin-left:740px;
}
contain .motonuit{
    margin-top:740px;
    margin-left:740px;
}
contain .bol{
    margin-top:1058px;
    margin-left:612px;
}
contain .urban{
    margin-top:1058px;
    margin-left:35px;
}
contain .night{
    margin-top:1450px;
    margin-left:35px;
}